* {
	box-sizing: border-box;
}

body {
	font-family: "Red Hat Mono", monospace;
	margin: 0;
}
header {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	flex-direction: column;
	background-color: rgb(118, 149, 207);
	height: auto 0;
	padding: 45px;
	color: white;
}

#gallery {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

#image {
	width: 500px;
	height: 300px;
	border-radius: 20px;
	margin-top: 15px;
	box-shadow: -3px 4px 5px black;
}
#image:hover {
	transition: all 1s ease;
	transform: scale(1.7);
	box-shadow: -3px 4px 5px black, 3px 4px 5px black, 3px -4px 5px black;
}
#gallery > #image:nth-child(3n + 3):hover {
	transform-origin: top right;
}

#gallery > #image:nth-child(3n + 1):hover {
	transform-origin: top left;
}
